<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = true;
    app.settings.asideDock = true;"
     ng-controller="AnalysisController"
>
    <!-- form -->
    <section class="bg-black dk bg-auto  wrapper-lg">
        <div class="wrapper-md" ng-controller="FormDemoCtrl">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">Analysis</div>
                        <div class="panel-body ">
                            <form role="form">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Protocol</label>
                                        <input type="text" class="form-control" placeholder="Protocol">
                                    </div>
                                    <div class="form-group">
                                        <label>Port</label>
                                        <input type="text" class="form-control" placeholder="Host">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Source IP</label>
                                        <input type="text" class="form-control" placeholder="Source IP">
                                    </div>
                                    <div class="form-group">
                                        <label>Destination IP</label>
                                        <input type="text" class="form-control" placeholder="Destination IP">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Source Port</label>
                                        <input type="text" class="form-control" placeholder="Source Port">
                                    </div>
                                    <div class="form-group">
                                        <label>Destination Port</label>
                                        <input type="text" class="form-control" placeholder="Destination Port">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        <input type="date" class="form-control" placeholder="Start Date" ng-model="startDate" value="{{startDate}}">
                                    </div>
                                    <div class="form-group">
                                        <label>End Date</label>
                                        <input type="date" class="form-control" placeholder="End Date" ng-model="endDate" value="{{startDate}}">
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-primary pull-right">Find</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-md" ng-controller="FormDemoCtrl">
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>
        </div>
    </section>

    <div class="col w-md bg-black dk bg-auto">
        <div class="wrapper">
            <div class="m-b-sm text-md">Analysis</div>
        </div>
        <ul class="list-group no-bg no-borders pull-in">
            <li class="list-group-item">
                <a herf class="pull-left thumb-sm avatar m-r">
                    <img src="img/a4.jpg" alt="..." class="img-circle">
                    <i class="on b-white bottom"></i>
                </a>
                <div class="clear">
                    <div><a href>Bandwidth</a></div>
                    <small class="text-muted">{{n}}</small>
                </div>
            </li>
            <li class="list-group-item">
                <a herf class="pull-left thumb-sm avatar m-r">
                    <img src="img/a4.jpg" alt="..." class="img-circle">
                    <i class="on b-white bottom"></i>
                </a>
                <div class="clear">
                    <div><a href>Bandwidth</a></div>
                    <small class="text-muted">{{n}}</small>
                </div>
            </li>
            <li class="list-group-item">
                <a herf class="pull-left thumb-sm avatar m-r">
                    <img src="img/a4.jpg" alt="..." class="img-circle">
                    <i class="on b-white bottom"></i>
                </a>
                <div class="clear">
                    <div><a href>Bandwidth</a></div>
                    <small class="text-muted">{{n}}</small>
                </div>
            </li>
            <li class="list-group-item">
                <a herf class="pull-left thumb-sm avatar m-r">
                    <img src="img/a4.jpg" alt="..." class="img-circle">
                    <i class="on b-white bottom"></i>
                </a>
                <div class="clear">
                    <div><a href>Bandwidth</a></div>
                    <small class="text-muted">{{n}}</small>
                </div>
            </li>
            <li class="list-group-item">
                <a herf class="pull-left thumb-sm avatar m-r">
                    <img src="img/a4.jpg" alt="..." class="img-circle">
                    <i class="on b-white bottom"></i>
                </a>
                <div class="clear">
                    <div><a href>Bandwidth</a></div>
                    <small class="text-muted">{{n}}</small>
                </div>
            </li>
            <li class="list-group-item">
                <a herf class="pull-left thumb-sm avatar m-r">
                    <img src="img/a4.jpg" alt="..." class="img-circle">
                    <i class="on b-white bottom"></i>
                </a>
                <div class="clear">
                    <div><a href>Bandwidth</a></div>
                    <small class="text-muted">{{n}}</small>
                </div>
            </li>
        </ul>
    </div>

</div>
