<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = true;
    app.settings.asideDock = true;
  ">
    <!-- main -->
    <div class="col">
        <div class="bg-black dker wrapper-lg" ng-controller="FlotChartDemoCtrl">
            <ul class="nav nav-pills nav-xxs nav-rounded m-b-lg">
                <li class="active"><a href>Hour</a></li>
                <li><a href ng-click="refreshData()">Day</a></li>
                <li><a href ng-click="refreshData()">Week</a></li>
            </ul>
            <div ui-jq="plot" ui-refresh="d0_1" ui-options="
        [
          { data: {{d0_1}}, points: { show: true, radius: 2}, splines: { show: true, tension: 0.4, lineWidth: 1 } }
        ],
        {
          colors: ['{{app.color.info}}', '{{app.color.primary}}'],
          series: { shadowSize: 3 },
          xaxis:{ font: { color: '#507b9b' } },
          yaxis:{ font: { color: '#507b9b' }, max:16 },
          grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#1c2b36' },
          tooltip: true,
          tooltipOpts: { content: 'Visits of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 10, y: -25 } }
        }
      " style="min-height:360px">
            </div>
        </div>
        <div class="wrapper-md bg-white-only b-b">
            <div class="row text-center">
                <div class="col-sm-3 col-xs-6">
                    <div>Bandwidth Rate<i class="fa fa-fw fa-caret-up text-success text-sm"></i></div>
                    <div class="h2 m-b-sm">5.12Gb/day</div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div>Actual Bandwidth<i class="fa fa-fw fa-caret-down text-warning text-sm"></i></div>
                    <div class="h2 m-b-sm">390Kb/s</div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div>Time higher consumption<i class="fa fa-fw fa-caret-up text-success text-sm"></i></div>
                    <div class="h2 m-b-sm">13:05:01</div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div>Data Usage<i class="fa fa-fw fa-caret-down text-danger text-sm"></i></div>
                    <div class="h2 m-b-sm">1.3Gb</div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <div>Map<i class="fa fa-fw fa-caret-down text-danger text-sm"></i></div>

                    <div class="h3 m-b-sm"> Locations </div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1625434.1763492518!2d-70.6028802777299!3d18.871661776412708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sdo!4v1457318557406" width="350" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                    <div class="col-xs-6 col-md-4">
                    <div>Tops<i class="fa fa-fw fa-caret-down text-danger text-sm"></i></div>
                    <div class="h3 m-b-sm">Most used </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="label bg-danger pull-right m-t-xs">4 left</span>
                                Tasks
                            </div>
                            <table class="table table-striped m-b-none">
                                <thead>
                                <tr>
                                    <th>Progress</th>
                                    <th>Item</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="progress progress-sm progress-striped active m-t-xs m-b-none">
                                            <div class="progress-bar bg-success" data-toggle="tooltip" data-original-title="80%" style="width: 80%"></div>
                                        </div>
                                    </td>
                                    <td>Protocol - HTTP </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="progress progress-xs m-t-xs m-b-none">
                                            <div class="progress-bar bg-info" data-toggle="tooltip" data-original-title="40%" style="width: 40%"></div>
                                        </div>
                                    </td>
                                    <td>Ip Destination - 192.168.25.16 </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="progress progress-xs m-t-xs m-b-none">
                                            <div class="progress-bar bg-warning" data-toggle="tooltip" data-original-title="20%" style="width: 20%"></div>
                                        </div>
                                    </td>
                                    <td>Ip Source - 10.220.1.5</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>


            </div>
        </div>

    </div>
    <!-- / main -->
    <!-- right col -->
    <div class="col w-md bg-black dk bg-auto">
        <div class="wrapper">
            <div class="m-b-sm text-md">Log Analysis</div>
            <div class="panel-body">
                <div class="m-b-sm">
                    <label class="i-switch bg-info pull-right">
                        <input type="checkbox" ng-model="app.settings.headerFixed">
                        <i></i>
                    </label>
                    Analysis Status
                </div>
            </div>
            <ul class="list-group no-bg no-borders pull-in">
                <div ng-repeat="n in ['20150201T220101','20150202T220101','20150203T220101', '20150204T220101']">
                    <li class="list-group-item">
                        <a herf class="pull-left thumb-sm avatar m-r">
                            <img src="img/a4.jpg" alt="..." class="img-circle">
                            <i class="on b-white bottom"></i>
                        </a>
                        <div class="clear">
                            <div><a href>Richard Sandoval</a></div>
                            <small class="text-muted">{{n}}</small>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <!-- / right col -->
</div>
